@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --main-color: #000022;
    --gradiente: linear-gradient(to bottom, rgba(253, 4, 141, 0.274), transparent);
}
body {
    background-color: #000022;
    background-image: var(--gradiente); 
    background-repeat: no-repeat;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header > img {
    filter: invert();
    width: 70px;
}
nav > a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    background-color: var(--main-color);
    border-radius: 10px;
    font-size: 0.8rem;
    transition: all 1s;
}
nav > a:hover {
    background-color: white;
    color: var(--main-color);
    transition: all 1s;
}
form {
    margin: 20px;
    z-index: 1;
    position: relative;
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.forma {
    z-index: -1;
    rotate: -50deg;
    bottom: 50px;
    right: 50px;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 250px solid var(--main-color);
}
.campo {

    margin: 0.5rem 2rem;
}
.campo label {
    color: rgb(139, 139, 139);

}
.campo input {
    background-color: transparent;
    padding: 0.2rem;
    margin: 0.2rem 0;
    border: 1px solid white;
}
.campo input:focus, .campo select:focus {
    background: #FFF;
    color: var(--main-color);
}
button {
    font-size: 1.2em;
    background: var(--main-color);
    border: 0;
    color: #FFF;
    padding: 0.2em 2em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    transition: all 1s;
}

button:hover {
    background: white;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
    color: var(--main-color);
    transition: all 1s;
}
main {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textos {
    max-width: 800px;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    text-align: center;
    align-items: center;
}
@media screen and (max-width: 600px){
    main {
        margin-top: 2rem;
        flex-direction: column;
    }
    nav {
        display: none;
    }
}
#services {
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#services h1 {
    text-align: center;
    font-size: 1.5rem;
}